/* 1. Importações SEMPRE na linha 1 */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import "tailwindcss";

@theme {
  --font-cherrybomb: "Cherry Bomb One", system-ui, sans-serif;

  --color-secondary: #fff4d6;
  --color-accent: #2e7d32;
  --color-dark: #222222;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

button {
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}
